html {
    background-image: linear-gradient(to right top, #f09ecd, #e19fd7, #cfa1df, #bba3e5, #a5a5e8, #93aef1, #7eb7f6, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;

}

body {
    margin: 0px auto;
    max-width: 1200px;
}

h1,
h2,
h3 {
    font-family: 'Open Sans';
    line-height: 20px;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 10px;

}

h2 {
    margin-top: 15px;
}

h1 {
    border-bottom: 3px solid #f09ecd;
    padding-bottom: 12px;
}

p,
li {
    font-family: 'Roboto';
    font-weight: 300;
}

li {
    margin-bottom: 10px;
}

/* GRID CONTAINER DESTOP */

.grid-container {
    margin-top: 70px;
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-row-gap: 3em;

}



.grid-container > div {
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 30px;
    max-width: 900px;
    min-width: 400px;
}

.grid-container > .buffer {
    background: none;
    box-shadow: none;
    transition: none;
}


/* GRID CONTAINER TABLET */

@media only screen and (max-width: 930px) {

    .grid-container {
        grid-template-columns: 5% 90% 5%;
    }

}

/* GRID CONTAINER MOBILE */

@media only screen and (max-width: 500px) {

    .grid-container > div {
        min-width: 200px;
    }

    h1 {
        font-size: 1.7em;
        margin-bottom: 0px;
    }

    h2 {
        font-size: 1em;
        line-height: 25px;
        margin-bottom: 0px;
    }

    h3 {
        font-size: .8em;
        margin-bottom: 0px;
    }

    p,
    ul {
        font-size: 80%;
        margin-top: 10px;
    }


}


/* PROFILE ROW 1 DESKTOP */

#profile-row-1 {
    display: flex;
}

#profile-row-1 > div {
    margin: 0px auto;
    margin-bottom: 20px;
}

#profile-photo {
    border-radius: 75% 25% 43% 57% / 32% 62% 38% 68% ;
    background-color: #e19fd7;
    width: 220px;
    height: 230px;

}

#profile-photo > img {
    width: 200px;
    border-radius: 45% 55% 50% 50% / 61% 50% 50% 39% ;
    padding-top: 20px;
}

#profile-info {
    width: 65%;
    padding: 20px;
}

#profile-info > h2 {
    margin-top: 0px;
}

/*PROFILE ROW 1 MOBILE */


@media only screen and (max-width: 500px) {
    #profile-row-1 {
        display: flex;
        flex-wrap: wrap;
    }

    #profile-row-1 > div {
        margin: 0px auto;
    }


    #profile-info {
        width: 100%;
        margin-top: 15px;
    }

    #profile-header {
        text-align: center;
        margin-top: 40px;
        font-size: 1.1em;

    }


    #profile-info > h2 {
        text-align: center;
        display: block;
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 1.2em;
    }

}

/* PROFILE ROW 2 DESKTOP */

#profile-row-2 {
    display: flex;
    flex-wrap: nowrap;
}

#profile-row-2 > div {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50%;

}

#profile-row-2a,
#profile-row-2b {
    border: solid 3px #f09ecd;
    margin: 10px;
    height: 330px;
}


#profile-row-2-flexa {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}



#profile-row-2-flexa > div {
    margin: 10px;
    background-color: cornflowerblue;
    padding: 8px;
    color: white;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

#profile-row-2-flexb {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Roboto', sans-serif;

}

#profile-row-2-flexb > div {
    margin: 10px;
    background-color: darkseagreen;
    padding: 8px;
    color: white;
    border-radius: 5px;
}

/* PROFILE ROW 2 MOBILE */

@media only screen and (max-width: 500px) {

    #profile-row-2-flexa,
    #profile-row-2-flexb {
        font-size: 70%;
        padding-top: 30px;
    }

    #profile-row-2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #profile-row-2 > div {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;

    }


}



/* UNORGANIZED */

.testBorder {
    display: block;
    text-align: center;
    margin: 0px;
    position: relative;
    top: -15px;

}

.testBorder span {
    display: inline-block;
    background-color: #fff;
    padding: 0 10px;

}



#tooltip {

    position: absolute;
    display: none;
    width: 350px;
    background-color: white;
    border: 1px solid black;
    z-index: 2;
    cursor: pointer;

}
